.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  /* background-color: rgb(69, 64, 64); */
  background-color: #a099ff;
    background-image:
      radial-gradient(at 83% 67%, rgb(152, 231, 156) 0, transparent 58%),
      radial-gradient(at 67% 20%, hsla(357, 94%, 71%, 1) 0, transparent 59%),
      radial-gradient(at 88% 35%, hsla(222, 81%, 65%, 1) 0, transparent 50%),
      radial-gradient(at 31% 91%, hsla(9, 61%, 61%, 1) 0, transparent 52%),
      radial-gradient(at 27% 71%, hsla(336, 91%, 65%, 1) 0, transparent 49%),
      radial-gradient(at 74% 89%, hsla(30, 98%, 65%, 1) 0, transparent 51%),
      radial-gradient(at 53% 75%, hsla(174, 94%, 68%, 1) 0, transparent 45%);
  min-width: 20rem;
  min-height: 20rem;
  border-radius: 10px;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalButtons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  padding: 10px;
}

.title {
  font-weight: bolder;
  font-size: 1.5rem;
  margin: 1.5rem 0 3rem 0;
}

.inputField {
  width: 100%;
  margin-bottom: 1rem;
}

.inputTitle {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.inputContainer {
  display: flex;
  border: 1px #ecf1f4 solid;
  border-radius: 1rem;
  padding: 0.6rem 0.4rem;
  background-color: #fafcfc;
  color: #000;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  background: none;
}

.button {
  color: white;
  padding: 5px;
  border-radius: 10px;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 9px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s linear;
  width: 8rem;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: 600;
  font-size: 0.9rem;
  margin: 0.5rem;
}

.createButton {
  border: 2px #fe2d55 solid;
  background-color: #4e44ce;
}

.cancelButton {
  border: 2px #fe2d55 solid;
  background-color: #4e44ce;
}
